In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [5]:
url = "../data/raw_data.csv"

In [6]:
df = pd.read_csv(url)
df

,Entity,Code,Year,"Meat of cattle with the bone, fresh or chilled | 00000867 || Producing or slaughtered animals | 005320 || animals","Meat, goat | 00001017 || Producing or slaughtered animals | 005320 || animals","Meat, chicken | 00001058 || Producing or slaughtered animals | 005321 || animals","Meat, turkey | 00001080 || Producing or slaughtered animals | 005321 || animals","Meat, pig | 00001035 || Producing or slaughtered animals | 005320 || animals","Meat, lamb and mutton | 00000977 || Producing or slaughtered animals | 005320 || animals","Meat, duck | 00001069 || Producing or slaughtered animals | 005321 || animals"
0,Afghanistan,AFG,1961,360000.0,940000.0,7000000.0,NaN,NaN,4336000.0,NaN
1,Afghanistan,AFG,1962,384000.0,875000.0,7500000.0,NaN,NaN,4355000.0,NaN
2,Afghanistan,AFG,1963,396000.0,810000.0,7700000.0,NaN,NaN,4673000.0,NaN
3,Afghanistan,AFG,1964,402000.0,750000.0,8000000.0,NaN,NaN,5010000.0,NaN
4,Afghanistan,AFG,1965,408000.0,875000.0,8500000.0,NaN,NaN,5179000.0,NaN
...,...,...,...,...,...,...,...,...,...,...
14575,Zimbabwe,ZWE,2019,2350000.0,2461470.0,71479000.0,29000.0,193820.0,51842.0,28000.0
14576,Zimbabwe,ZWE,2020,2300000.0,2501662.0,71367000.0,30000.0,183923.0,52614.0,28000.0
14577,Zimbabwe,ZWE,2021,2576748.0,2587830.0,82885000.0,30000.0,196173.0,47741.0,26000.0
14578,Zimbabwe,ZWE,2022,2675482.0,2713257.0,69773000.0,31000.0,283905.0,48159.0,25000.0
14579,Zimbabwe,ZWE,2023,2748622.0,2861896.0,61532000.0,31000.0,290746.0,57168.0,24000.0

In [8]:
df.columns

Index(['Entity', 'Code', 'Year',
       'Meat of cattle with the bone, fresh or chilled | 00000867 || Producing or slaughtered animals | 005320 || animals',
       'Meat, goat | 00001017 || Producing or slaughtered animals | 005320 || animals',
       'Meat, chicken | 00001058 || Producing or slaughtered animals | 005321 || animals',
       'Meat, turkey | 00001080 || Producing or slaughtered animals | 005321 || animals',
       'Meat, pig | 00001035 || Producing or slaughtered animals | 005320 || animals',
       'Meat, lamb and mutton | 00000977 || Producing or slaughtered animals | 005320 || animals',
       'Meat, duck | 00001069 || Producing or slaughtered animals | 005321 || animals'],
      dtype='object')

In [10]:
unique_entities = df['Entity'].unique()
unique_entities

array(['Afghanistan', 'Africa', 'Africa (FAO)', 'Albania', 'Algeria',
       'Americas (FAO)', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Asia', 'Asia (FAO)', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg (FAO)', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Caribbean (FAO)',
       'Central African Republic', 'Central America (FAO)',
       'Central Asia (FAO)', 'Chad', 'Chile', 'China', 'China (FAO)',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Eastern Africa (FAO)', 'Eastern Asia (FAO)',
       'Eastern Europe (FAO)', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Ethiopia (former)', 'Europe', 'Europe (FAO)',
       'European Union (27)', 'European Union (27) (FAO)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Land Locked Developing Countries (FAO)',
       'Laos', 'Latvia', 'Least Developed Countries (FAO)', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Low Income Food Deficit Countries (FAO)', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Melanesia', 'Mexico',
       'Micronesia (FAO)', 'Micronesia (country)', 'Middle Africa (FAO)',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Net Food Importing Developing Countries (FAO)', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Africa (FAO)', 'Northern America (FAO)',
       'Northern Europe (FAO)', 'Norway', 'Oceania', 'Oceania (FAO)',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Polynesia',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Small Island Developing States (FAO)',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (FAO)', 'South Korea', 'South Sudan',
       'South-eastern Asia (FAO)', 'Southern Africa (FAO)',
       'Southern Asia (FAO)', 'Southern Europe (FAO)', 'Spain',
       'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'USSR', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper-middle-income countries', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Western Africa (FAO)', 'Western Asia (FAO)',
       'Western Europe (FAO)', 'World', 'Yemen', 'Yugoslavia', 'Zambia',
       'Zimbabwe'], dtype=object)

In [13]:
paran_entities = [i for i in unique_entities if "(" in i]
paran_entities

['Africa (FAO)',
 'Americas (FAO)',
 'Asia (FAO)',
 'Belgium-Luxembourg (FAO)',
 'Caribbean (FAO)',
 'Central America (FAO)',
 'Central Asia (FAO)',
 'China (FAO)',
 'Eastern Africa (FAO)',
 'Eastern Asia (FAO)',
 'Eastern Europe (FAO)',
 'Ethiopia (former)',
 'Europe (FAO)',
 'European Union (27)',
 'European Union (27) (FAO)',
 'Land Locked Developing Countries (FAO)',
 'Least Developed Countries (FAO)',
 'Low Income Food Deficit Countries (FAO)',
 'Micronesia (FAO)',
 'Micronesia (country)',
 'Middle Africa (FAO)',
 'Net Food Importing Developing Countries (FAO)',
 'Northern Africa (FAO)',
 'Northern America (FAO)',
 'Northern Europe (FAO)',
 'Oceania (FAO)',
 'Small Island Developing States (FAO)',
 'South America (FAO)',
 'South-eastern Asia (FAO)',
 'Southern Africa (FAO)',
 'Southern Asia (FAO)',
 'Southern Europe (FAO)',
 'Sudan (former)',
 'Western Africa (FAO)',
 'Western Asia (FAO)',
 'Western Europe (FAO)']

**'China (FAO)'**,   **'Micronesia (FAO)'**,   **'Sudan (former)'**,  **'Micronesia (country)'**,  **'Sudan (former)'**,  and  **'Belgium-Luxembourg (FAO)'**   are  all  countries  and  not  regions

In [22]:
exception_countries = ['China (FAO)','Micronesia (FAO)', 'Micronesia (country)', 'Sudan (former)']

In [26]:
conditions = [
    df['Entity'].isin(exception_countries),
    df['Entity'].str.contains(r'\('),
]
values = [0,1]

In [27]:
df['Region'] = np.select(conditions, values, default=0)
df[['Entity', 'Region']]

            Entity  Region
0      Afghanistan       0
1      Afghanistan       0
2      Afghanistan       0
3      Afghanistan       0
4      Afghanistan       0
...            ...     ...
14575     Zimbabwe       0
14576     Zimbabwe       0
14577     Zimbabwe       0
14578     Zimbabwe       0
14579     Zimbabwe       0

[14580 rows x 2 columns]

In [28]:
df[conditions[1]]

,Entity,Code,Year,"Meat of cattle with the bone, fresh or chilled | 00000867 || Producing or slaughtered animals | 005320 || animals","Meat, goat | 00001017 || Producing or slaughtered animals | 005320 || animals","Meat, chicken | 00001058 || Producing or slaughtered animals | 005321 || animals","Meat, turkey | 00001080 || Producing or slaughtered animals | 005321 || animals","Meat, pig | 00001035 || Producing or slaughtered animals | 005320 || animals","Meat, lamb and mutton | 00000977 || Producing or slaughtered animals | 005320 || animals","Meat, duck | 00001069 || Producing or slaughtered animals | 005321 || animals",Region
126,Africa (FAO),NaN,1961,13234469.0,28137736.0,3.584050e+08,1425000.0,3835586.0,37204512.0,8221000.0,1
127,Africa (FAO),NaN,1962,13352172.0,28830964.0,3.729990e+08,1510000.0,3987514.0,37690812.0,8411000.0,1
128,Africa (FAO),NaN,1963,13446035.0,28471024.0,3.866970e+08,1585000.0,4070344.0,37940312.0,8587000.0,1
129,Africa (FAO),NaN,1964,13876142.0,29031172.0,4.093810e+08,1670000.0,4313906.0,39515352.0,8783000.0,1
130,Africa (FAO),NaN,1965,14132494.0,30167680.0,4.282280e+08,1756000.0,4536320.0,40663472.0,8860000.0,1
...,...,...,...,...,...,...,...,...,...,...,...
14292,Western Europe (FAO),NaN,2019,12234833.0,982297.0,2.478662e+09,76031000.0,113744448.0,7041642.0,95756000.0,1
14293,Western Europe (FAO),NaN,2020,11916679.0,979850.0,2.468101e+09,76570000.0,112184000.0,7147191.0,80464000.0,1
14294,Western Europe (FAO),NaN,2021,11858301.0,1013953.0,2.394428e+09,71431000.0,111826576.0,7168472.0,72798000.0,1
14295,Western Europe (FAO),NaN,2022,11408345.0,1014744.0,2.365136e+09,63106000.0,105195712.0,6920516.0,54161000.0,1
14296,Western Europe (FAO),NaN,2023,11223713.0,1010533.0,2.351898e+09,62158000.0,97268592.0,6616011.0,59245000.0,1

In [30]:
df.to_csv('../data/preprocessed_data.csv', index=False)